extends layout

block content
  h1= title
  p Welcome to #{title}
  p #{content}

 
  p=formatted_date
  each item in data
    - let dateFormat = item.created
    - let formatted_date = dateFormat.getDate() + "." + (dateFormat.getMonth() + 1) + "." + dateFormat.getFullYear()
    article
        h1(class='title')=item.title
        p(class='content')=item.description
        p(class='data')=formatted_date
//-  - i dodajemy kod js w pugu